//== Action panels

.panel {
  position: relative;
  width: 200px;
  background-color: @gray-lighter;

  .panel-header {
    padding: 10px;
    font-size: @font-size-large;
    line-height: @line-height-modifier * 3;
    color: #fff;
    background-color: @gray-darker;
    cursor: pointer;

    &:hover {
      background-color: @gray-darker-2;
    }

    &.expanded {
      background-color: @gray-dark-2;
      cursor: inherit;
    }

    &.edit {
      background-color: @blue;
      cursor: inherit;
    }
  }

  .panel-section {
    padding: 10px;
    border-bottom: 1px solid @gray-light-2;
    color: @gray-darker;

    &:last-child {
      border-bottom: none;
    }
  }  
}

.panel-legend {
  .legend-entry {
    .label {
      display: block;
      font-size: @font-size-xs;
      line-height: @line-height-base;
    }

    .symbol {
      margin-bottom: 5px;
    }

    .linear {
      width: 100%;
      height: 8px;
      border: 1px solid @gray;
      border-radius: 4px;
      background-color: @gray-light;
      .box-sizing(border-box);
    }
  }
}

.road-link-legend {
  display: none;

  .legend-entry {
    .road {
      .linear-asset-color(@linear-asset-4);
    }

    .street {
      .linear-asset-color(@linear-asset-3);
    }

    .private-road {
      .linear-asset-color(@linear-asset-5);
    }
  }
}

.dotted-speed-limit {
  background-image: linear-gradient(to right, @gray-lighter 50%, transparent 0%);
  background-position: -5px top;
  background-size: 14px 14px;
  background-repeat: repeat-x;
}

.speed-limit-legend-entry(@color, @endpoint-color) {
  border-color: @color;
  background-color: rgba(red(@color), green(@color), blue(@color), .7);
  &:before, &:after {
    content: "";
    background: @endpoint-color;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: -1px;
  };
  &:before { left: -1px; }
  &:after { right: -1px; }
}

.speed-limit-legend {
  .legend-entry {
    @labelWidth: 25px;
    .label {
      display: inline-block;
      width: @labelWidth;
      line-height: 16px;
    }
    .linear {
      position: relative;
      display: inline-block;
      width: calc(~"100% - @{labelWidth}");
      margin-bottom: 0;
    }
    .speed-limit-120, .speed-limit-100, .speed-limit-80, .speed-limit-70 {
      &:extend(.dotted-speed-limit);
    }
    .speed-limit-120 { .speed-limit-legend-entry(@speed-limit-5, @speed-limit-node-5); }
    .speed-limit-100 { .speed-limit-legend-entry(@speed-limit-3, @speed-limit-node-3); }
    .speed-limit-80  { .speed-limit-legend-entry(@speed-limit-4, @speed-limit-node-4); }
    .speed-limit-70  { .speed-limit-legend-entry(@speed-limit-1, @speed-limit-node-1); }
    .speed-limit-60  { .speed-limit-legend-entry(@speed-limit-5, @speed-limit-node-5); }
    .speed-limit-50  { .speed-limit-legend-entry(@speed-limit-4, @speed-limit-node-4); }
    .speed-limit-40  { .speed-limit-legend-entry(@speed-limit-3, @speed-limit-node-3); }
    .speed-limit-30  { .speed-limit-legend-entry(@speed-limit-2, @speed-limit-node-2); }
    .speed-limit-20  { .speed-limit-legend-entry(@speed-limit-1, @speed-limit-node-1); }
  }
}

.panel-actions {
  .clearfix();

  .action {
    float: left;
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: @border-radius-small;
    cursor: pointer;
    .box-sizing(border-box);
  
    .icon-add,
    .icon-cut,
    .icon-select {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -13px 0 0 -13px;
      width: 26px;
      height: 26px;

      .shape {
        fill: @gray-dark;
      }
    }
  }

  .active {
    border-color: @blue;
    background-color: @blue-lightest;

    .icon-add,
    .icon-cut,
    .icon-select {
      .shape {
        fill: @blue-darker;
      }
    }    
  }
}
