.panel {
  position: relative;
  width: 200px;
  background-color: @gray-lighter;

  .panel-header {
    padding: 10px;
    font-size: @font-size-large;
    line-height: @line-height-modifier * 3;
    color: #fff;
    background-color: @gray-darker;
    cursor: pointer;

    &:hover {
      background-color: @gray-darker-2;
    }

    &.expanded {
      background-color: @gray-dark-2;
      cursor: inherit;
    }

    &.edit {
      background-color: @blue;
      cursor: inherit;
    }
  }

  .panel-section {
    padding: 10px;
    border-bottom: 1px solid @gray-light-2;
    color: @gray-darker;

    &:last-child {
      border-bottom: none;
    }
  }  
}

.panel-legend {
  .legend-entry {
    .label {
      display: block;
      font-size: @font-size-xs;
      line-height: @line-height-base;
    }

    .symbol {
      margin-bottom: 5px;
    }

    .linear {
      width: 100%;
      height: 8px;
      border: 1px solid @gray;
      border-radius: 4px;
      background-color: @gray-light;
      .box-sizing(border-box);
    }
  }
}

.road-link-legend {
  display: none;

  .legend-entry {
    .road {
      .linear-asset-color(@linear-asset-4);
    }

    .street {
      .linear-asset-color(@linear-asset-3);
    }

    .private-road {
      .linear-asset-color(@linear-asset-5);
    }
  }
}

.panel-actions {
  .clearfix();

  .action {
    float: left;
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: @border-radius-small;
    cursor: pointer;
    .box-sizing(border-box);
  
    .icon-add,
    .icon-select {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -13px 0 0 -13px;
      width: 26px;
      height: 26px;

      .shape {
        fill: @gray-dark;
      }
    }
  }

  .active {
    border-color: @blue;
    background-color: @blue-lightest;

    .icon-add,
    .icon-select {
      .shape {
        fill: @blue-darker;
      }
    }    
  }
}
