.callout-wrapper {
  display: inline-block;
  margin-top: -10px;
  margin-left: -2px;
  padding: 2px;
  border: 1px solid @gray-dark-2;
  border-radius: 3px;
  background-color: #fff;

  .callout {
    img {
      display: block;
      margin-top: -1px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.arrow-container {
  position: absolute;
  bottom: -16px;
  left: -3px;
  width: 4px;
  height: 15px;
}

.arrow {
  position: relative;
  z-index: -1;  
  width: 4px;
  height: 15px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: @gray-dark-2;
}

.dropHandle {
  width : 22px;
  height: 16px;
  margin-top : 9px;
  margin-left: -10px;
}
