//== Asset form

#feature-attributes {
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: @line-height-modifier * 2;
    border-bottom: 1px solid @gray-darker-2;
    font-size: @font-size-xl;
    color: #fff;
  }

  .wrapper {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 88px;
    overflow-y: auto;
    padding: 10px;

    &.read-only {
      bottom: 40px;
    }  
  }

  .form-controls {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid @gray-darker-2;
    text-align: right;

    .save {
      margin-right: 5px;
    }
  }

  .street-view {
    display: block;
    margin-bottom: @input-margin;

    img {
      display: block;
      width: 360px;
      height: 180px;
    }
  }

  .form {
    width: 360px;

    .asset-log-info {
      font-size: @font-size-small;
      line-height: @line-height-modifier * 3;
      color: @input-color-placeholder-dark;
    }

    .undefined {
      font-style: italic;
      color: @gray-dark;
    }

    ul {
      margin: 0;
      padding: 0;
      color: #fff;
      list-style: none;

      li {
        padding-top: @line-height-modifier + 1;
        line-height: @line-height-modifier * 3;
      }
    }
  }

  .form-horizontal {
    .control-label {
      width: 140px;
      margin-right: 10px;
      font-size: @font-size-xs;
    }

    .form-control,
    .checkbox,
    .select,
    .form-control-static,
    .choice-group,
    .btn-block {
      width: 210px;
    }

    .btn-block {
      float: left;
    }

    .asset-log-info {
      float: none;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.readOnlyText {
  border-radius: 2px;
  background-color: rgb( 51, 51, 51 );
  color: #8A8A8A;
  width: 206px;
  height: 20px;
  font-size: 12px;
  padding-left: 4px;
  line-height: 1.5;
  padding-top: 2px;
  vertical-align: middle;;
}

.featureAttributeText {
  border: 1px solid #646461;
  border-radius: 2px;
  background-color: rgb( 51, 51, 51 );
  color: rgb( 230, 230, 230 );
  width: 210px;
  height: 21px;
  font-size: 12px;
  padding-left: 4px;
}

/* TODO copy paste from above!!! */
.featureAttributeLongText {
  border: 1px solid #646461;
  border-radius: 2px;
  background-color: rgb( 51, 51, 51 );
  color: rgb( 230, 230, 230 );
  font-size: 12px;
  width: 210px;
  height: 66px;
  padding-left: 4px;
  line-height: 1.2;
  padding-top: 2px;
}
.featureAttributeDate {
  border: 1px solid #646461;
  border-radius: 2px;
  background-color: rgb( 51, 51, 51 );
  color: rgb( 230, 230, 230 );
  height: 21px;
  width: 210px;
  padding-left: 4px;
  margin-bottom: 0;
  font-size: 12px;
}

.featureattributeChoice {
  border: 1px solid #646461;
  border-radius: 2px;
  background-color: rgb( 51, 51, 51 );
  color: rgb( 230, 230, 230 );
  width: 210px;
  line-height: 25px;
  font-size: 12px;

  label {
    vertical-align: middle;
  }
  input[type='checkbox'] {
    vertical-align: middle;
    margin: 0px 3px;
  }
}

.formContent {
  font-size: 12px;
  color: rgb( 255, 255, 255 );
  line-height:2.5;
  text-align: left;
  padding-top: 10px;
}

.formLabels {
  font-size: 12px;
  color: rgb( 230, 230, 230 );
  line-height: 1.5;
  text-align: right;
  float: left;
  width:140px;
  padding-top: 6px;
  padding-right: 10px;
  vertical-align: middle;
}

.formAttributeContentRow[data-required="true"] .formLabels {
  color: #e6d7b1;
}

.formAttributeContentRow[data-required="true"] .formLabels:before {
  content: "*";
}

.featureAttributeNA {
  font-size: 12px;
  color: rgb( 230, 230, 230 );
  line-height: 2.5;
  text-align: left;
  float: left;
  vertical-align: middle;
}

.formAttributeContent {
  float:left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.formAttributeContentRow {
  clear:both;
  float: none !important;

  &:last-child .formAttributeContent {
    margin-bottom: 24px;
  }
}

.readOnlyRow {
  color: #8A8A8A;
  float: left;
  font-size: 11px;
}

.formDescriptor {
  font-size: 10px;
  color: rgb( 132, 132, 132 );
}

.sidebarContainer {
  background-color: rgb( 45, 45, 45 );
  box-shadow: 0 0 3px 0 rgb( 0, 0, 0 );
}

select option.selected {
  margin:40px;
  background: rgba(0,0,0,0.3);
  color:#fff;
  text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.formInputStyle {
  border-color: rgb( 75, 75, 75 ); background-color: rgb( 51, 51, 51 );

  &:active {
    border-color: rgb( 51, 51, 51 ); background-color: rgb( 75, 75, 75 );
  }
}

.formInputStyleError {
  border-color: rgb( 115, 52, 52 ); background-color: rgb( 184, 133, 133 );
}

.featureAttributeButton {
  border: 1px solid #000000;
  border-radius: 3px;
  color: rgb( 255, 255, 255 );
  line-height: 1.286;
  text-align:center;
  background-color: #666666;
  padding: 3px;
  cursor: pointer;
  width: 210px;
  padding-top: 2px;
  padding-bottom: 3px;

  &:disabled {
    cursor: default;
    color: #2D2D2D;
    background-color: #2D2D2D;
  }
}

