.mapplugin.coordinates {
  overflow: hidden;
  height: auto !important;

  .cbLabel {
    font-size: 11px !important;
  }

  .cbValue {
    font-size: 11px !important;
  }
}

.crosshairToggle {
  font-size: 11px;
  margin-top: 4px;
  padding: 4px 0 0 2px;

  input {
    float: left;
    margin-right: 2px;
  }
}

.moveToCoordinates {
  font-size: 11px;
  margin-top: 4px;
  padding: 2px 0 0 2px;

  input[type='text'] {
    width: 115px;
  }

  input[type='button'] {
    float: right;
    margin: 2px 3px 0 0;
  }
}