//== Floating stops and incomplete links table list

.work-list {
  padding-bottom: @line-height-modifier * 2;

  caption, h2 {
    padding-left: @line-height-modifier * 2;
  }

  .table {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding-left: @line-height-modifier * 2;
          padding-right: @line-height-modifier * 2;
        }
      }
    }

    &:first-child {
      caption {
        padding-top: @table-cell-padding + @line-height-modifier; // Align with horizontal form labels
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.municipality-work-list {
  .work-list;
  .verificationCheckbox {
    float:right;
  }
  .table {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th{
          font-size: 12px;
        }
        > td {
          padding-left: @line-height-modifier * 2;
          padding-right: @line-height-modifier * 2;
          font-size: 12px;
        }
      }
    }
    &:last-child {
      margin-bottom: 2em;
      border-bottom: 1px solid #cbcbc9;
    }
  }
}
