body {
  margin : 0px;
  min-width: (@feature-attribute-panel-width * 2);
}

a {
  outline : none;
}

#headerBar {
  background-color: #282826;
  border-bottom: 1px #171717;
  width: 100%;
  height: 40px;

  .linkToManual {
    text-decoration: none;
    color: #fff;
    float: right;
    padding: 14px 20px 0 0;
    font-size: 11px;
  }
}

.container {
  padding-left: @map-tools-panel-width;
  padding-right: @feature-attribute-panel-width;
  height: 100%;
  background: url('../images/loading.gif') no-repeat fixed center;
}

.container .column {
  float: left;
  position: relative;
  height: 100%;
}

#maptools {
  width: @map-tools-panel-width;
  margin-left: -100%;
  right: @map-tools-panel-width;
  background-color: #383836;
  z-index: 2;
}

#mapdiv {
  float:left;
}

#featureData {
  position: relative;
  left: 10px;
}

#contentMap {
  width: 100%;

  div.mapplugins.bottom { bottom: 40px; }
}

#featureAttributes {
  width: @feature-attribute-panel-width;
  margin-right: (@feature-attribute-panel-width * -1);
  background-color: rgb( 45, 45, 45 );
  box-shadow: 0 0 3px 0 rgb( 0, 0, 0 );
}

/* FIXME: The following two rules are hacky,
 * due to these being set in a external module's
 * CSS file (backgroundlayerselection.css). */
div.content ul li {
    font-family: Arial !important;
    font-size: 11px !important;
}

li.selected {
    font-family: Arial !important;
    font-size: 11px !important;
}