//== Map plugin control component styles

//** Zoom buttons

#mapdiv {
	.mapplugins {
		.zoombar {
			width: 100%;
			margin: 0 0 @line-height-modifier * 2;

			.slider {
				display: none;
			}

			.pzbDiv-plus,
			.pzbDiv-minus {
				width: 30px;
				height: 30px;
				margin-left: auto;
				border: 1px solid @gray-light-2;
				.box-sizing(border-box);
				background-color: @gray-lighter-2;
				background-image: none;
				cursor: pointer;
				.icon-font;

				&:before {
					line-height: 30px;
					color: @gray-dark;
				}

				&:hover {
					background-color: @gray-lighter;
				}

				&:active {
					background-color: @gray-light-2;

					&:before {
						color: @gray-darker;
					}
				}
			}

			.pzbDiv-plus {
				&:before {
					content: '\e800';
				}
			}

			.pzbDiv-minus {
				margin-top: -1px;

				&:before {
					content: '\e801';
				}
			}
		}
	}	
}

//** Background layer select
//** Overrides Oskari styles

#mapdiv {
	.mapplugins {
		.backgroundLayerSelectionPlugin {
			.bg {
				height: @line-height-base * 2;
				border-top: 1px solid @gray-light-2;
				background-color: @gray-lighter;
				.opacity(1);
			}

			.content {
				margin: 0;
				padding: @line-height-modifier * 2;
				text-align: left;

				ul {
					height: auto;

					li {
						.btn;
						.btn-sm;
						.btn-tertiary;
						position: relative;
						width: auto;
						margin: 0 0 0 -1px;
						border-radius: 0;

						&.selected {
							.btn-secondary;
							z-index: 2;
							color: #fff;
						}

						&:first-child {
							border-top-left-radius: @border-radius-base;
							border-bottom-left-radius: @border-radius-base;
						}

						&:last-child {
							border-top-right-radius: @border-radius-base;
							border-bottom-right-radius: @border-radius-base;
						}
					}
				}
			}
		}
	}
}

//** Scale

#mapdiv {
	.mapplugins {
		.scalebar {
			display: block;
			float: none;
			position: absolute;
			bottom: @line-height-base * 2.5;
		}
	}
}

//** Coordinates

.mapplugin.coordinates {
  overflow: hidden;
  height: auto !important;

  .cbLabel {
    font-size: 11px !important;
  }

  .cbValue {
    font-size: 11px !important;
  }
}

.coordinatesContainer {
  clear: both;
  font-size: 11px;
  padding: 3px 0 0 2px;

  input[type='checkbox'] {
    float: left;
    margin-right: 4px;
  }

  input[type='text'] {
    width: 115px;
  }

  input[type='button'] {
    float: right;
    margin: 3px 2px 2px 0;
  }
}
