//== Map plugin control component styles

//** FIX THIS: top right plugin container is forced to bottom right, because CoordinatesPlugin.js location is hardcoded

#mapdiv {
	.right.top {
		top: auto;
		bottom: 40px;

		.mapPluginsContent {
			margin-top: 0;
		}
	}
}

//** Zoom buttons

#mapdiv {
	.mapplugins {
		.zoombar {
			position: absolute;
			left: @line-height-modifier * 2;
			bottom: @line-height-base * 2.5;
			width: auto;
			margin: 0;

			.slider {
				display: none;
			}

			.pzbDiv-plus,
			.pzbDiv-minus {
				width: 30px;
				height: 30px;
				margin-left: auto;
				border: 1px solid @gray-light-2;
				.box-sizing(border-box);
				background-color: @gray-lighter-2;
				background-image: none;
				cursor: pointer;
				.icon-font;

				&:before {
					line-height: 30px;
					color: @gray-darker-2;
				}

				&:hover {
					background-color: @gray-lighter;
				}

				&:active {
					background-color: @gray-light-2;

					&:before {
						color: @gray-darkest;
					}
				}
			}

			.pzbDiv-plus {
				&:before {
					content: '\e800';
				}
			}

			.pzbDiv-minus {
				margin-top: -1px;

				&:before {
					content: '\e801';
				}
			}
		}
	}	
}

//** Background layer select
//** Overrides Oskari styles

#mapdiv {
	.mapplugins {
		&.bottom {
			width: 100%;

			.mapPluginsContent {
				margin: 0;
			}
		}

		.backgroundLayerSelectionPlugin {
			width: 100%;
			height: auto;
			margin: 0;

			.bg {
				width: 100%;
				height: 40px;
				border-top: 1px solid @gray-light-2;
				background-color: @gray-lighter;
				.opacity(1);
			}

			.content {
				position: static;
				left: auto;
				bottom: auto;
				width: auto;
				margin: 0;
				padding: 0 0 9px @line-height-modifier*2;
				text-align: left;

				ul {
					height: auto;

					li {
						.btn;
						.btn-sm;
						.btn-tertiary;
						position: relative;
						width: auto;
						margin: 0 0 0 -1px;
						border-radius: 0;

						&.selected {
							.btn-secondary;
							z-index: 2;
							color: #fff;
						}

						&:first-child {
							margin-left: 0;
							border-top-left-radius: @border-radius-base;
							border-bottom-left-radius: @border-radius-base;
						}

						&:last-child {
							border-top-right-radius: @border-radius-base;
							border-bottom-right-radius: @border-radius-base;
						}
					}
				}
			}
		}
	}
}

//** Scale

#mapdiv {
	.mapplugins {
		.scalebar {
			display: block;
			float: none;
			position: absolute;
			left: @line-height-base * 2.5;
			bottom: @line-height-base * 2.5;
			font-size: 9px;
			line-height: @line-height-modifier * 3;
			color: @gray-darker-2;

			.olControlScaleLineTop,
			.olControlScaleLineBottom {
				border-color: @gray-darker-2;
			}

			.olControlScaleLineBottom {
				display: none;
			}
		}
	}
}

//** Coordinates
//** Overrides Oskari styles

#mapdiv {
	.mapplugins {
		.coordinates {
			width: auto;
			height: auto;
			border: none;
			font-size: 0px;
			color: @gray-darkest;
			text-align: right;
			background-color: transparent;

			.cbSpansWrapper {
				display: inline-block;
				vertical-align: middle;
				width: auto;
				padding: 0;

				.cbRow {
					display: inline-block;
					height: @line-height-base * 2;
					padding: (@line-height-modifier * 2) 0;
					margin-right: @line-height-modifier;
					.box-sizing(border-box);
					.clearfix();

					.cbCrsLabel {
						font-size: @font-size-xs;
						color: @gray;
					}

					.cbLabel {
						display: inline-block;
						float: none;
						width: auto;
						margin-right: 3px;
						font-size: @font-size-xs;
					}

					.cbValue {
						display: inline-block;
						float: none;
						width: auto;
						padding: 0;
						font-size: @font-size-xs;
					}
				}

				br {
					display: none;
				}
			}

			.coordinates-wrapper {
				display: inline-block;
				vertical-align: middle;
				height: @line-height-base * 2;
				margin-right: @line-height-modifier;
				padding: 9px 0 0 @line-height-modifier;
				border-left: 1px solid @gray-light-2;
				.box-sizing(border-box);

				.lonlat {
					display: inline-block;
					vertical-align: middle;
					width: 80px;
					margin-right: @line-height-modifier;
					padding-left: @line-height-modifier;
					padding-right: @line-height-modifier;
					font-size: @font-size-xs;
				}

				.btn {
					border-radius: 0;

					&:first-of-type {
						border-top-left-radius: @border-radius-base;
						border-bottom-left-radius: @border-radius-base;
					}

					&:last-child {
						margin-left: -1px;
						border-top-right-radius: @border-radius-base;
						border-bottom-right-radius: @border-radius-base;
					}
				}
			}

			.crosshair-wrapper {
				display: inline-block;
				vertical-align: middle;
				height: @line-height-base * 2;
				padding: (@line-height-modifier * 2) 0 0 @line-height-modifier;
				border-left: 1px solid @gray-light-2;
				.box-sizing(border-box);

				label {
					padding-left: @line-height-modifier * 3;
					font-size: @font-size-xs;
				}			

				input {
					margin-left: -15px;
				}
			}
		}
	}
}

/*.mapplugin.coordinates {
  overflow: hidden;
  height: auto !important;

  .cbLabel {
    font-size: 11px !important;
  }

  .cbValue {
    font-size: 11px !important;
  }
}

.coordinatesContainer {
  clear: both;
  font-size: 11px;
  padding: 3px 0 0 2px;

  input[type='checkbox'] {
    float: left;
    margin-right: 4px;
  }

  input[type='text'] {
    width: 115px;
  }

  input[type='button'] {
    float: right;
    margin: 3px 2px 2px 0;
  }
}*/
