#feature-attributes {
  .speed-limit.form,
  .linear-asset.form {
    .marker {
      float: left;
    }
    .control-label {
      width: 60px;
      margin-top: 7px;
    }
    .form-group.editable {
      margin-left: 10px;
    }
    .input-unit-combination {
      float: left;
      margin-top: 6px;

      input {
        margin-top: 0;
      }

      .form-control {
        width: 110px;
      }

      .input-group-addon {
        float: left;
        width: 15px;
        height: 15px;
      }
    }
  }
}
