//== Forms

label {
	display: inline-block;
	font-size: @font-size-small;
	font-weight: bold;
	text-transform: uppercase;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  .box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  .tab-focus();
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
  display: block;
  min-height: @line-height-modifier * 3; // clear the floating input if there is no label text
  margin-bottom: @form-input-margin;

  &:last-child {
  	margin-bottom: 0;
  }

  label {
    margin-bottom: 0;
    padding-left: 20px;
    font-size: @font-size-base;
    font-weight: normal;
    text-transform: none;
    cursor: pointer;
    .user-select(none);
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  .user-select(none);
}

.checkbox input[type="checkbox"] {
  position: relative;
  width: 12px;
  height: 12px;
  border: 1px solid @gray-darker;
  border-radius: @border-radius-small;
  outline: none;
  -webkit-appearance: none;
  .scale(0.9999);
  .transition(transform 0.05s ease-in-out);
  .transition(-webkit-transform 0.05s ease-in-out);
  .transition(-moz-transform 0.05s ease-in-out);
  .transition(-o-transform 0.05s ease-in-out);
  .transition(-ms-transform 0.05s ease-in-out);

  &:active {
    .scale(0.85);
  }

  &:checked {
    .icon-font;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      margin-left: -5px;
      margin-top: -5px;
      font-size: 18px;
      content: '\e804';
    }
  }
}