//== Tables

caption {
	padding-top: @table-cell-padding;
  padding-bottom: @table-cell-padding;
  font-size: @font-size-small;
  font-weight: bold;
  color: @gray-darker;
  text-transform: uppercase;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: @line-height-modifier * 2;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: top;
        padding: @table-cell-padding;
        border-top: 1px solid @table-border-color;
        line-height: @line-height-base;
      }
    }
  }
}

#formTable {
  width: 100%;
  .table{
    > thead,
    > tbody {
      font-size: 12px;
      border-bottom: 1px solid #cbcbc9;
    }
    > tfoot {
      > tr {
        > th,
        > td {
          vertical-align: middle;
          padding-left: @line-height-modifier * 2;
          padding-right: @line-height-modifier * 2;
          font-size: 12px;
        }
      }
    }
  }
}