//== Tables

caption {
	padding-top: @table-cell-padding;
  padding-bottom: @table-cell-padding;
  font-size: @font-size-small;
  font-weight: bold;
  color: @gray-darker;
  text-transform: uppercase;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: @line-height-modifier * 2;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: top;
        padding: @table-cell-padding;
        border-top: 1px solid @table-border-color;
        line-height: @line-height-base;
      }
    }
  }

  .unknownSpeedLimitCheckboxWidth{
    width: 10px;
  }

  .laneWorkListCheckboxWidth{
    width: 10px;
  }

  .roadLinkReplacementCheckboxWidth{
    width: 10px;
  }

  .roadLinkReplacementWorkListTextSize{
    font-size: 14px;
  }

  .laneWorkListTextSize{
    font-size: 14px;
  }
  .manoeuvreWorkListTextSize{
    font-size: 14px;
  }
}

#formTable {
  width: 100%;
  padding-bottom: 30px;
  .table{
    > thead,
    > tbody {
      font-size: 12px;
      border-bottom: 1px solid @gray-light-2;
    }
    > tfoot {
      > tr {
        > th,
        > td {
          vertical-align: middle;
          padding-left: @line-height-modifier * 2;
          padding-right: @line-height-modifier * 2;
          font-size: 12px;
        }
      }
    }
  }
}

.municipality-header {
  width: 100%;
  display: inline-block;
  h2 {
    display: inline-block;
    width: 33%;
  }
  img {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: -5px;
  }
}

#dashBoardVerificationInfo,
#dashBoardAssetsModificationsInfo {
  table {
    width: 93%;
    margin-left: 20px;
    > thead {
      > tr {
        > th,
        > td {
          font-size: 13px;
          border-bottom: 1px solid @gray-light-2;
          padding-bottom: @table-cell-padding;
          padding-top: @table-cell-padding;
          font-weight: bold;
        }
      }
    }
    > tbody {
      > tr {
        > th,
        > td {
          font-size: 12px;
          border-bottom: 1px solid @gray-light-2;
          padding-bottom: @table-cell-padding;
          padding-top: @table-cell-padding;
        }
      }
    }
  }
}

