//== Component variables

//== Colors

@gray-darkest:		#171717;
@gray-darker-2:		#282826;
@gray-darker:		#383836;
@gray-dark-2:		#5a5a57;
@gray-dark:			#646461;
@gray:				#7f7f7c;
@gray-light:		#a4a4a2;
@gray-light-2:		#cbcbc9;
@gray-lighter:		#e3e3e1;
@gray-lighter-2:	#efefed;
@gray-lightest: 	#f7f7f6;

@blue-darkest:		#092846;
@blue-darker:		#0f4374;
@blue-dark:			#1c70be;
@blue:				#1c7fdd;
@blue-light:		#4498e8;
@blue-lighter:		#81baef;
@blue-lightest:		#cce3f9;

//** Linear asset colors
@linear-asset-1:	#00ccdd; //cyan
@linear-asset-2:	#ff55dd; //pink
@linear-asset-3:	#11bb00; //green
@linear-asset-4:	#ff0000; //red
@linear-asset-5:	#0011bb; //blue
@linear-asset-6:	#888; //gray
@linear-asset-7:	#444; //dark gray
@linear-asset-8:	#000000; //black
@linear-asset-9:    #439232; //dark green

//** Construction type colors
@construction-type-1: #ff9900; //orange
@construction-type-3: #cc99ff; //lilac

@construction-type-node-1: #ffc266; //orange
@construction-type-node-3: #b366ff; //lilac

//** Speed limit colors
@speed-limit-1: @linear-asset-1; //cyan
@speed-limit-2: @linear-asset-2; //pink
@speed-limit-3: @linear-asset-3; //green
@speed-limit-4: @linear-asset-4; //red
@speed-limit-5: @linear-asset-5; //blue

@linear-asset-node-1: #00adbb; //cyan
@linear-asset-node-2: #ff33d6; //pink
@linear-asset-node-3: #0e9900; //green
@linear-asset-node-4: #ee0000; //red
@linear-asset-node-5: #000e99; //blue
@linear-asset-node-6: #666; //gray
@linear-asset-node-7: #222; //dark gray


//**Service Road colors
@service-road-0: @linear-asset-5; //cyan
@service-road-1: @linear-asset-3; //pink
@service-road-2: @linear-asset-2; //green
@service-road-3: @linear-asset-1; //red
@service-road-4: @linear-asset-4; //blue

//** Validation colors

@error:				#d9534f; //red
@warning:			#f0ad4e; //yellowish
@success:			#5cb85c; //green
@failure:           #ff704d; //orange
//== Animation
@easing-swift-out:	cubic-bezier(.55,0,.1,1);

//== Typography

@font-family-base:	Arial;
@font-family-icons: "digiroad2-icons";

@font-size-base:	12px;
@font-size-xl:		14px;
@font-size-large: 	13px;
@font-size-small:	11px;
@font-size-xs:		10px;

@font-icon-size-base:	24px;

@text-color:		@gray-darkest;
@link-color:		@blue;
@link-color-hover:	@blue-dark;

//** All elements are divisible by 5, so we use it as a base value for line-heights
@line-height-modifier: 	5px;
@line-height-base: 		@line-height-modifier * 4; // 20px

//== Components
//## Common values used throughout components

@border-radius-small:	2px;
@border-radius-base:	3px;

//== Buttons

@btn-default-color:		#fff;
@btn-drop-shadow:		0px 1px 1px 0px rgba(red(@gray-darkest), green(@gray-darkest), blue(@gray-darkest), .25);
@btn-drop-shadow-hover:	0px 1px 1px 0px rgba(red(@gray-darkest), green(@gray-darkest), blue(@gray-darkest), .125);

//== Forms

@input-margin:					8px;

@input-color:					@text-color;
@input-color-dark:				#fff;
@input-color-placeholder:		@gray;
@input-color-placeholder-dark:	@gray-light;
@input-bg:						#fff;
@input-bg-dark:					@gray-dark;
@input-bg-disabled:				@gray-lighter;
@input-bg-disabled-dark:		@gray-dark-2;
@input-border:					@gray-light;
@input-border-dark: 			@gray-light;
@input-border-focus:    		@gray;
@input-border-focus-dark:   	@gray-light-2;
@input-border-disabled:			@gray-dark;
@input-border-disabled-dark:	@gray-dark;
@input-border-radius:			@border-radius-small;
@input-group-addon-bg:			@gray-lighter-2;
@input-group-addon-border-color:	@input-border;
@input-group-addon-bg-dark:		@gray;
@input-group-addon-border-color-dark:	@input-border-dark;
@control-label-width:                   140px;
@control-label-margin:                  10px;

//== Tables

@table-cell-padding:	8px;

@table-border-color:	@gray-light-2;


