.panelControl {
    padding: 10px;
    border: 0px solid;
    border-bottom-width: 1px;
    cursor: pointer;
}

div.panelControlLine {
    background-color: #ffffff;
    height: 3px;
    margin: 4px;
}

.actionPanel {
    width: 300px;
    position: relative;
    left: 50px;
    top: -50px;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.actionPanelClosed {
    width: 0px;
    height: 0px;
    display: none;
}

div.layerGroup {
    padding: 20px;
    background-color: #5747ff;
    margin-bottom: 10px;
}

div.busStopLayerCheckbox {
    float : left;
}
div.busStopLayer {
    padding-left: 15px;
    padding-bottom: 5px;
}
