// Styles used in project change table //

.change-table-frame {
  bottom: 115px;
  height: 260px;
  max-width: 1135px;
  width: auto;
  position: absolute;
  background-color: #e3e3e1;
  left: 315px;
  right: 472px;

}
.change-table-header {
  padding: 10px;
  border-bottom: 1px solid #171717;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  background-color: #282826;
}
.change-table-sections {
  color: #5a5a57;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
  background-color: #cbcbc9;
}
.change-table-heading-label {
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  float: left;
  text-transform: none;
}
#change-table-button-close {
  float: right;
  width: 100px;
}