.featureAttributesHeader {
    font-size: 14px;
    font-family: "Arial";
    color: rgb( 255, 255, 255 );
    line-height: 1.286;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 18px;
    border: 0px solid #000000;
    border-bottom-width: 1px;
    padding-left: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(60,60,60) 0%, rgb(69,69,69) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(60,60,60) 0%, rgb(69,69,69) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(60,60,60) 0%, rgb(69,69,69) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.featureAttributesWrapper {
    position: absolute;
    padding: 10px;
    top: 49px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.streetView {
    padding-top: 4px;
    padding-bottom: 4px;
}

.featureAttributeText {
    border: 1px solid rgb(75, 75, 75);
    border-radius: 2px;
    background-color: rgb( 51, 51, 51 );
    color: rgb( 230, 230, 230 );
    width: 210px;
    height: 21px;
}
/* TODO copy paste from above!!! */
.featureAttributeDate {
    border: 1px solid rgb(75, 75, 75);
    border-radius: 2px;
    background-color: rgb( 51, 51, 51 );
    color: rgb( 230, 230, 230 );
    width: 70px;
    height: 21px;
}

.attributeFormat {
    font-style: italic;
    color: #8F8F8F;
    display: inline;
    height: 21px;
}

.featureattributeChoice {
    border: 1px solid rgb(75, 75, 75);
    border-radius: 2px;
    background-color: rgb( 51, 51, 51 );
    color: rgb( 230, 230, 230 );
    width: 210px;
}

.formContent {
    font-size: 12px;
    font-family: "Arial";
    color: rgb( 255, 255, 255 );
    line-height:2.5;
    text-align: left;
    padding-top: 10px;
}

.formLabels {
    font-size: 12px;
    font-family: "Arial";
    color: rgb( 230, 230, 230 );
    line-height: 2.5;
    text-align: right;
    float: left;
    width:140px;
    padding-right: 10px;
    vertical-align: middle;

}

.featureAttributeNA {
    font-size: 12px;
    font-family: "Arial";
    color: rgb( 230, 230, 230 );
    line-height: 2.5;
    text-align: left;
    float: left;
    vertical-align: middle;
}

.formAttributeContent {
   float:left;
   margin-bottom: 5px;
   margin-top: 5px;
}

.formAttributeContentRow {
    clear:both;
}

.formDescriptor {
    font-size: 10px;
    font-family: "Arial";
    color: rgb( 132, 132, 132 );
}

.sidebarContainer {
    background-color: rgb( 45, 45, 45 );
    box-shadow: 0px 0px 3px 0px rgb( 0, 0, 0 );
}

select option.selected {
    margin:40px;
    background: rgba(0,0,0,0.3);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}



.formInputStyle {
    border-color: rgb( 75, 75, 75 ); background-color: rgb( 51, 51, 51 );
}

.formInputStyle:active {
    border-color: rgb( 51, 51, 51 ); background-color: rgb( 75, 75, 75 );
}

.formInputStyleError {
    border-color: rgb( 115, 52, 52 ); background-color: rgb( 184, 133, 133 );
}

div.pika-single {
    z-index: 10001; /* default is 9999 and is not visible over oskari.org popups that have z-index of 10000 */
}